<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <header>
      <%- include('./partials/navbar.ejs', {selected: "explorer"} ); %>
    </header>
    <main class="container-md flex justify-center items-start h-screen mt-14 sm:flex-row sm:mx-4">
      <section class="w-4/5">
        <% if (files.length === 0) { %>
        <p>No tienes ningún archivo</p>
        <% } else { %>
        <div class="shadow-xl mb-4" role="files-list-container">
          <% files.forEach((file) => { %>
          <article
            class="shadow-md hover:bg-slate-300 transition duration-400"
            role="files-list-item"
          >
            <p><strong>Path: </strong><%= file.absolutePath %></p>
            <p><strong>Device: </strong><span><%= file.device %></span></p>
          </article>
          <% }); %>
        </div>
        <% } %>
        <%- include('./partials/upload_file_form.ejs'); %>
      </section>
    </main>

  </body>
</html>
